yolov8s.pt
yolov8x.pt
.vscode
runs
yolo_inference.py
camera_movement_estimator/__pycache__
playerBallAssignment/__pycache__
speed_and_distance_transformer/__pycache__
team_assigner/__pycache__
trackers/__pycache__
training/__pycache__
utils/__pycache__
view_transformer/__pycache__

training/football-players-detection-1
output_videos/.DS_Store
output_videos/cropped_img.jpg
training/yolov5nu.pt
models/best-3.pt
stubs/camera_movement_stub.pkl
stubs/tracks_stubs.pkl
